$red: #C73B0F;
$rose-900: #260F08;
$rose-500: #87635A;
$rose-400: #AD8A85;
$rose-300: #CAAFA7;
$rose-100: #F5EEEC;
$rose-50: #FCF8F6;
$green: #1EA575;
$black: #000000;
$white: #FFFFFF;

$font-size-l: 56px;
$font-size-md: 24px;
$font-size-sm: 16px;
$font-size-xsm: 14px;

$line-height-sm: 120%;
$line-height-md: 125%;
$line-height-lg: 150%;
